#infoCardContainer{

   height:100%;
   margin: 0 auto;
   display:flex;
   padding-top:10px;
   /* -webkit-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
   box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75); */
}

.infocard{
   width:30%;
   height:50%;
   
   margin:0 auto;
   /* -webkit-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
   box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75); */
}
img {
   height:300px;
}


#infoIntrigue{

}