#infoCardContainer{
   border:2px solid black;

   height:400px;
   margin: 0 auto;
   margin-top:50px;
   display:flex;
   padding-top:100px;
}

.infocard{
   width:30%;
   height:300px;
   border:2px solid black;
   margin:0 auto;
}