.selectContainer{
   width:300px;
}

.inputField{
   width:299px;
   height:35px;
   border-radius: 4px;
   padding: 12px 20px;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

.inputSubmit{
   width: 200px;
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}