html {
  --dark:#333;
  --light:#fbfbfb ;
  background-color: var(--light);
}
.App {
  text-align: center;
  
  width:99%;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 1.8rem;

  color: var(--dark);
  height: 100%;

}
/* 
.outputContainer{
  width:78%;
  height:100%;
  border:1px solid var(--dark);
}


.OutputImage{
  border:2px solid var(--dark);
  height:160px;
  width:40%;
  margin-left:auto;
  padding-right:40px;
  padding-left:40px;
  margin-right:10px;
  max-width:100px;
  padding-top:40px;
  padding-bottom:40px;
}
.OutputImage img{
  height:150px;
  position: relative;
  right:0;
  top:0;
}
.OutputImage div{
  height:150px;
  position: relative;
  right:0;
  top:0;
}

.OutputDesc{
  border:2px solid var(--dark);
  height:100px;
  width:300px;
  position: relative;
  top:0px;
} */







.outputContainer{
  width:78%;
  height:100%;
  border:1px solid var(--dark);
  display:flex;
  flex-wrap:wrap;
}


.OutputImage{
  border:2px solid var(--dark);
  height:160px;
  width:20%;
  margin-left:auto;
  padding-right:40px;
  padding-left:40px;
  margin-right:10px;

  padding-top:40px;
  padding-bottom:40px;
}
.OutputImage img{
  height:150px;
  position: relative;
  right:0;
  top:0;
}
.OutputImage div{
  height:150px;
  position: relative;
  right:0;
  top:0;
}

.OutputDesc{
  border:2px solid var(--dark);
  height:240px;
  width:60%;
  position: relative;
  top:0px;
  text-align: left;
}

.OutputRoleplay{
  border:2px solid var(--dark);
  height:30%;
  width:100%;
  position: relative;
  top:0px;
  text-align: left;
}
.OutputIntrigue{
  border:2px solid var(--dark);
  height:30%;
  width:100%;
  position: relative;
  top:0px;
  text-align: left;
}


















.titleContainer{
  width:100%;
  height:20vh;
  margin-bottom:70px;
}


.main {
  width:100%;
  display:flex;
  flex-wrap:wrap;

  /* border:1px solid black; */
  max-width: 1000px;
  max-height: 100%;
  margin:0 auto;
  height:60vh;
  -webkit-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
}

.sidebarContainer {
  width:20%;
  max-width: 20%;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;

  border-radius:5%;
  padding:5px;
}


.inputContainer{
  width:100%;
  display:none;
}
