/* 
  TODO Need to make mobile res CSS

  TODO Make ui scale with lower widths
  
  TODO Move image Input image and resize

  TODO Style image input upload buttons

  TODO standardize CSS submit buttons
*/ 


html {
  --dark:#333;
  --light:#fbfbfb ;
  background-color: var(--light);
}
.App {
  text-align: center;
  
  width:99%;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 1.8rem;

  color: var(--dark);
  height: 100%;
  min-width: 900px;

}

.bigArrow{
  width:130px;
  position: relative;
  left:-220px;
  top:-100px;
  z-index: 1;

}






.outputContainer{
  border:2px solid black;
  width:78%;
  height:100%;

  display:flex;
  flex-wrap:wrap;
  overflow: scroll;
}


.OutputImage{
  /* border:2px solid var(--dark); */
  height:240px;
  width:30%;
  margin-left:auto;
}
.OutputImage img{
  padding:10px;
  max-width: 85%;
  height: auto;
  max-height:150%;
  -webkit-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
}
.OutputImage div{
  height:150px;
  position: relative;
  right:0;
  top:15px;
}

.OutputDesc{
  /* border:2px solid var(--dark); */
  height:240px;
  width:60%;
  position: relative;
  top:25px;
  text-align: left;
  left:20px;

}


.OutputRoleplay{
  height:30%;
  width:100%;
  position: relative;
  top:5px;
  text-align: left;
  left:20px;
  margin-bottom:80px;
}
ul{
  position: relative;
  top:-15px;
  font-size: 1.3rem;
}
li{
  margin-bottom:-25px;
}
p{
  font-size: 1.8rem;
}


.OutputIntrigue{
  height:30%;
  width:100%;
  position: relative;
  top:-5px;
  text-align: left;
  left:20px;
}


.title{
  text-decoration: underline;
}



.titleContainer{
  width:100%;
  height:20vh;
  margin-bottom:70px;
}


.main {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  min-height:600px;
  /* border:1px solid black; */
  max-width: 1000px;
  max-height: 100%;
  margin:0 auto;
  height:60vh;
  -webkit-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
}

.sidebarContainer {
  width:20%;
  max-width: 20%;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;

  border-radius:5px;
  padding:5px;
  background-color: var(--dark);
}



.submit{
  width:100%;
  height:80px;
  background-color: #b30000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s ease;
  border-radius:5%;
  cursor: pointer;
}

.submit:hover{
  background-color:#7a0000; /* Green */
}







.inputContainer{
  width:78%;
  height:100%;

  /* display: grid;
  grid-template-columns: 65% 35% 65%;
  grid-template-rows: 50% 100% 50%; */

  display:flex;
  flex-wrap:wrap;
}


.nameAndImageContainer{
  width:100%;
  height:300px;
  display:flex;
  flex-wrap:wrap;
}
.inputName{
  text-align: left;
  width:48%;
  max-height: 100%;
  /* border:0.2px solid var(--dark); */
  border-radius: 10px;
  padding-left:10px;
}
.inputImage{
  width:50%;
  max-height: 100%;
  /* border:0.2px solid var(--dark); */
  border-radius: 10px;
}
.inputImage img{
  display:block;
  position: relative;
  left:40%;
  top:20px;
  height:110px;
  -webkit-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
}



.roleplayAndIntrigueContainer{
  width:100%;
  height:300px;
  /* border:0.2px solid var(--dark); */
  border-radius: 10px;
}
.inputDesc{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  height:100%;
  justify-content: left;
  text-align: left;
  padding-left:10px;
}
.roleplayText{
  width:100%;
  height:5vh;
  border-radius: 4px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.intrigueText{
  width:100%;
  height:5vh;
  border-radius: 4px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.selectContainer{
  width:300px;

}
.inputField{
  width:299px;
  height:35px;
  border-radius: 4px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.signInButtonContainer{
  width:100%;
  margin-top:auto;
}

.signInButton{
  width:100%;
  height:80px;
  background-color: #b30000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s ease;
  border-radius:5%;
  cursor: pointer;
}

.signInButton:hover{
  background-color: #7a0000; /* Green */
}


.signInContainer{
  margin:0 auto;
  margin-top:20%;
}
.registerContainer{
  margin:0 auto;
  margin-top:20%;
}



.Modal {
  position: absolute;
  top: 50%;
  left: 40%;
  right: auto;
  bottom: auto;
  margin-right:-50%;
  background-color: var(--light);
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.75);
  /* transform: 'translate(-50%, -50%)' */
}

.ModalText{
  color: var(--dark) !important;
  padding:50px;
  padding-top:0px;
}


.ModalButton{
  border: none;
  background-color: var(--dark); /* Green */
  color: var(--light);
  border-radius: 20px;
  margin:20px;
  transition: background-color 0.9s ease;
  transition: color 0.9s ease;
}
.ModalButton:hover{
  border: none;
  background-color: var(--light); /* Green */
  color: var(--dark);
  border-radius: 20px;
  margin:20px;
}


.imageInputButton{
  width:1px;
  height:1px;
  display:none;
}

.imageInputPreview{
  height:200px;
  width:auto;
}
.imageSubmitBox{
  width:300px;
  height:100px;
  display:flex;
  flex-wrap:none;
  padding-top:140px;
  padding-left:40px;
}
.imageSubmitButton{
  margin: 0 auto;
  width:50%;
  max-width: 200px;
  height:40px;
  background-color: #b30000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.imageInputButtonContainer{
  margin: 0 auto;
  width:50%;
  height:40px;
  max-width: 200px;
  
  background-color: #b30000; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-align: center;
}
.imageInputButtonContainer p{
  margin-top:5px;
  font-size: 16px;
}

.inputSubmit{
  position: relative;
  top:-130px;
  left:-80px;
  width:100%;
  max-width: 200px;
  height:40px;
  margin:0 auto;
  background-color: #b30000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.inputSubmit:hover{
  background-color:#7a0000; /* Green */
}


.imageSubmitButton:hover{
  background-color:#7a0000; /* Green */
}

.submitButton{
  width: 100%;
  max-width: 200px;
  background-color: #b30000;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.submitButton:hover{
  background-color: #7a0000; /* Green */
}



.submitButtonContainer{
  width:100%;
  margin-top:auto;
}


.homepageContainer{
  max-width:100%;
  min-width:102%;
  min-height:100%;
  position: relative;
  left:-30px;
}
.homepageContainerButton{
  height:50px;
  width:50px;
}


.tabContainer{
  width:200px;
  height:100px;
  background-color: #b30000;
  margin-bottom:auto;
  margin-top:-30%;
  z-index: -1;
  border-radius: 1px;
  border:5px solid var(--dark);
  color: var(--light);

}



.listContainer{
  width:99%;
  height:99%;
}
.homePageListItem{
  width:99%;
  height:100px;

}

.homePageItemLi{
  width:33%;
  height:125%;
  margin: auto;
  vertical-align: middle;
}

.homePageListUl{
  border:5px solid var(--dark);
  background-color: var(--light);
  display:flex;
  flex-wrap:wrap;
  height:100%;
  width:98%;
  position: relative;
  left:-15px;
  align-content: center;
  list-style:none;
  -webkit-box-shadow: -1px 10px 16px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 10px 16px -11px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 16px -11px rgba(0,0,0,0.75);
}