.App {
  text-align: center;
  
  width:99%;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 1.8rem;

}
.titleContainer{
  width:100%;
  height:20vh;
}


.main {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  border:2px solid black;
  height:79vh;
}

.sidebarContainer {
  width:20%;
  height:200px;
  margin:0 auto;
}
.outputContainer{
  width:78%;
  border:2px solid black;
  height:100%;
}


.inputContainer{
  width:100%;
  display:none;
}
